@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    background-color: rgb(69, 86, 193);
}

/* HEADER */

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo {
margin-top: 10px;
text-align: center;
padding: 20px;
}

input {
 height: 50px;
 width: 325px;
 outline: none;
 text-align: center;
}

img {
    height: 300px;
    width: 300px;
}

.sen {
    margin: 20px;
    width: 200px;
    height: 70px;
}

.tijera{
    background-color: rgb(231, 200, 48);
    border: none;
    cursor: pointer;
}

.piedra{
    background-color: rgb(128, 180, 77);
    border: none;
    cursor: pointer;
}

.papel{
    background-color: rgb(176, 56, 34);
    border: none;
    cursor: pointer;
}

#tex{
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

#texto, #text {
    text-align: center;
    font-size: 15px;
}

.textoInicial{
    margin-top: 20px;
}

#send{
    width: 60px;
    height: 30px;
    margin-left: 20px ;
}


.red {
    background-color: red;
}

.green {
    background-color: rgb(63, 231, 63);
}

.black{
    background-color: rgb(226, 216, 216);
}
